* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #10002b;
    color: #fff;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    font-family: 'Circular Book', sans-serif;
    letter-spacing: .025em;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    overflow-x: hidden;

}

ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/* Star Header */

/*Sección Menu*/

section.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 88px;    
}

.menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    height: 24px;
}


ul.menu__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    margin-bottom: 0;
    height: 19px;
}

.menu__list__item {
    font-weight: 600;
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
}



/* Start Navbar*/
.navar {
    z-index: 5;
    display:flex;
    justify-content:center;
    flex-direction: column;
    flex-wrap:wrap;
    align-items:flex-start;
    position: fixed;
    left: 87%;
    margin-top: 65px;
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 379.546px;
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
}

#github:hover, #whatsapp:hover, #linkedin:hover, #telegram:hover {
    transform: scale(1.2);
}

#github {
    width: 50px;
    height: 55px; 
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 379.546px;
    filter: drop-shadow(rgba(247, 162, 209, 0.74) 0px 10px 15px);
    border-radius: 10px;
}

#whatsapp {
    width: 50px;
    height: 54px; 
}

#linkedin {
    width: 50px;
    height: 55px; 
}

#telegram {
    width: 60px;
    height: 65px; 
}
/* Finish Navbar*/
header.contenedor {
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 25px;
}

#logo {
    margin:0;   
    width: auto;
    max-height: 100px;
    min-height: 50px;
    left: 6%;
    border: white;
    border-radius: 20px;
    position: fixed;
    z-index: 5;
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 179.546px;
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
}

.img-header {
    max-width: 632px;
    min-width: 300px;
    background-image: url(./img/fondo2.JPG);
    background-size: 100% 100%;
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 379.546px;
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
    flex: 1;
}

.img-header img {
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 379.546px;
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
}


#gif {
    width: 100%;
    height: 100%;
    opacity: 0.25;
    
}

#fotografia {
    position: absolute;
    width: 51%;
    max-width: 310px;
    height: 100%;  
    z-index: 1;
    grid-column: 1;
    left: 20%;
}
    
.header-text {
    flex: 2;
    margin: 50px;    
    max-width: 390px;
    min-width: 300px;
}

.text-ppal {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700!important;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    text-shadow: 0 0 80px rgb(192 219 255/48%),0 0 32px rgb(65 120 255/54%);
    border-radius: 10px;
}

.btn {
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    color: #fff;
    background: linear-gradient(45deg,#ff6d1b,#e0417f);
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    line-height: 1.5rem;
    will-change: transform,filter;
    float: none;
    transition: all .15s ease-out;
    height: auto;
    border-radius: 100px;
    transform: rotateX(0) rotateY(0) scale(1);
    filter: drop-shadow(0 15px 15px rgba(0,0,0,.3));
    font-weight: 600;
    perspective-origin: 0 0;
    letter-spacing: 0;
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 379.78px;
    filter: drop-shadow(rgba(230, 75, 117, 0.37) 0px 10px 15px);
    margin-left: 25%;
    margin-top: 50px;
}

.btn:hover {
    transform: scale(1.2);
}
/* Finish Header */

/* Star Perfil */
.overlay-perfil {
    width: 95%;
    min-width: 300px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    padding: 25px;
    border-radius: 20px;
    margin-top: 50px;
    background: 
    radial-gradient(
      farthest-side at bottom left,
      rgba(255, 0, 255, 0.5), 
      transparent
    ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(255, 50, 50, 0.5), 
      transparent 400px
    );
}

.Perfil {
    max-width: 500px; 
    min-width: 300px;
    margin-right: 20px;
    border: white;
    border-radius: 20px;
    flex: 1;
    z-index: 2;
    background: 
    radial-gradient(
      farthest-side at bottom left,
      rgba(247, 238, 247, 0.849), 
      transparent
     ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(214, 106, 214, 0.5), 
      transparent 400px
     );
}

#titulo-perfil {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    text-shadow: 0 0 80px rgba(112, 248, 119, 0.48),0 0 32px rgba(93, 241, 80, 0.945);
    border-radius: 10px;
    z-index: 2;
}

#lema {
    width: auto;  
    font-family: 'lobster', cursive;
    font-size: 22px;
}

.about__paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
}

.Perfil p {
    width: auto;
    margin: 50px;
    text-align: center;
    font-weight:100!important;
}

.Habilidades {
    padding: 15px;
    width: 420px; 
    min-width: 300px;
    border: white;
    border-radius: 20px;
    z-index: 2;
    background: 
    radial-gradient(
      farthest-side at bottom left,
      rgba(247, 238, 247, 0.849), 
      transparent
     ),
    radial-gradient(
      farthest-corner at bottom right,
      rgba(214, 106, 214, 0.5), 
      transparent 400px
     );
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-habilidades {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700!important;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    text-shadow: 0 0 80px rgba(112, 248, 119, 0.48),0 0 32px rgba(93, 241, 80, 0.945);
    border-radius: 10px;
    margin-top: 10px;    
    margin-bottom: 50px;
}

#viñeta {
    text-align: left;
    list-style-type: none; 
    padding: 0;
    margin: 0;    
    margin-bottom: 20px;
}

#viñeta li {
    height: 30px;
    left: 20%;
    position: relative;
}

#viñeta li:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url('./img/pink-star-psd-429863.png');
    background-size: cover;
    background-position: center;
    left: -9%;
    top: 20%;
    transform: translateY(-50%);
}

.about__lema {
    margin: 20px;
    padding: 0;
}
/* Finish Perfil */

/* finish skills */

/* Secciòn Skills y hobbies*/

section.skills, section.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
    margin: 100px;
}

.skills__title, .hobbies__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    text-shadow: 0 0 80px rgba(112, 248, 119, 0.48),0 0 32px rgba(93, 241, 80, 0.945);
    border-radius: 10px;
    z-index: 2;
}

.skills__line, .hobbies__line {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.skills__box, .hobbies__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 40px 2px 2px 0px;
    gap: 8px;
    /* Preto/branco */
    background: transparent;
}

.skills__box ul, .hobbies__box ul {
    padding: 10px;
    margin-bottom: 0px;
}

.skills__img, .hobbies__img {
    width: 40px;
    height: 37px;
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #2A7AE4;    
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 1px 1px);
}

.skills__name, .hobbies__name {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
}


/* Star Wave */
.wave-div {
    width: 100%;
    min-width: 300px;
    height: 320px;
    margin-top: 100px;
    background:
    linear-gradient( to top, #32ded4ff, #9900efff, transparent 300px);
    opacity: 1.4;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,50%);
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
}

.text-cot {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700!important;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    text-shadow: 0 0 80px rgb(192 219 255/48%),0 0 32px rgb(65 120 255/54%);
    word-wrap: break-word;
    margin-top: 100px;
    padding-top: 40px;
    margin-left: 120px;
    scroll-behavior: smooth;
}

.auto-type {
    color: #10002b; linear-gradient(45deg,#5f00cc,#a664f1);
}

.btn2 {
    width: 250px;
    align-self: center;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    color: #fff;
    background: linear-gradient(45deg,#5f00cc,#a664f1);
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
    line-height: 1.5rem;
    will-change: transform,filter;
    float: none;
    margin: 0;
    transition: all .15s ease-out;
    height: auto;
    border-radius: 100px;
    transform: rotateX(0) rotateY(0) scale(1);
    filter: drop-shadow(0 15px 15px rgba(0,0,0,.3));
    font-weight: 600;
    perspective-origin: 0 0;
    letter-spacing: 0;
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 379.78px;
    filter: drop-shadow(rgba(230, 75, 117, 0.37) 0px 10px 15px);
    animation-timing-function: linear;
    animation-duration: .2s;
    object-fit: cover;
    margin-top: 0px;
    margin-left: 20%;
}

.btn2:hover {
    transform: scale(1.2);
}
/* Finish Wave*/


/* Star Services */
.servicios {
    margin: 100px 0px;
}

.contenedor-serv {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,33.3%);
    width: 90%;
    min-width: 300px;
    margin: 20px;
}

.transformacion, .UX, .web {
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    font-size: 300!important;
    text-align: center;
    padding: 25px;
}

#transformacion, #UX, #web  {
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 379.546px;
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
    max-width: 200px;
    max-height: 205px;
    width: 100%;
    border-top-left-radius: 89% 89%;
    border-top-right-radius: 89% 89%;
    border-bottom-right-radius: 89% 89%;
    border-bottom-left-radius: 89% 89%;
}
/* Finish Services */

/* Start projects */
.proyectos {
    padding: 54px 0;
}

.proyectos img {
    width: 620px; 
    height: 393px;
}

.bohemia, .kuthzen {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,50%);
    width: 100%;
    margin-top: 80px;
}

.text-boh, .text-kuth {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 5.5%;
    margin-left: 100px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    mix-blend-mode: unset!important;
}

.text-boh h4, .text-kuth h4 {
    font-weight: 200!important;
    text-transform: uppercase;
    font-size: 13px;
    color: rgba(167, 232, 248, 0.66)!important;
    letter-spacing: 3px;
    line-height: 1.8em;
}

.text-boh h3, .text-kuth h3 {
    font-weight: 200;
    color: #ebdddd!important;
    letter-spacing: 1px;
    line-height: 3em;
    text-align: left;
    font-size: 1.5rem;
    -webkit-text-size-adjust: 100%;
}

.text-boh p, .text-kuth p {
    font-weight: 300!important;
    word-wrap: break-word;
}

.text-boh a:hover{ 
    color: rgba(187, 15, 164, 0.856); 
}

#monitor {
    width: 40px;
    height: 40px;
    position: absolute;
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 379.546px;
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
}

.sitio {
    letter-spacing: 2px;
    line-height: 1.8em;
    font-weight: 300!important;
    text-transform: uppercase;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    margin-left: 15%;
    padding-bottom: 2rem;
}

.web-cart {
    max-width: 80%;
    min-height: 292px;
    background-image: url(./img/monitor_cartagena.gif);
    background-size: 100% 100%;
}

.web-analisis {
    max-width: 80%;
    min-height: 292px;
    background-image: url(./img/monitor_analisis.gif);
    background-size: 100% 100%;
}

.web-boh {
    max-width: 80%;
    min-height: 292px;
    background-image: url(./img/monitor_bohemia.gif);
    background-size: 100% 100%;
}

.web-kuth {
    max-width: 80%;
    min-height: 292px;
    background-image: url(./img/monitor_kuthzen.gif);
    background-size: 100% 100%;
}

.web-dulce {
    max-width: 80%;
    min-height: 292px;
    background-image: url(./img/monitor_dulce.gif);
    background-size: 100% 100%;
}
/* Finish projects */

/* Star Formation*/

.academic__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    text-shadow: 0 0 80px rgba(112, 248, 119, 0.48),0 0 32px rgba(93, 241, 80, 0.945);
    border-radius: 10px;
    z-index: 2;

}

/* Experiencia Académica*/

section.academic{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 32px;
    margin: 0;
    text-align: center;
}

.academic__title {
    text-align: center;
    margin: 0px;
    
}

.academic__courses__item__title h3 {
    font-weight: 200;
    color: #ebdddd!important;
    letter-spacing: 1px;
    line-height: 2em;
    font-size: 1.5rem;
    -webkit-text-size-adjust: 100%;
}
.academic__courses {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 100%;
}

.academic__courses__box {
    padding: 0px;
    width: 100%;
}

.academic__courses__box ul{
    padding-inline-start: 0px;
}

.academic__courses__item__img {
    padding: 70px;
}

.academic__courses__list li img {
    border-radius: 0px;
    width: 70%;
    height: 70px;
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 1px 1px);
}

.Estudios {
    margin: 0;
    text-align: 0;
    font-weight: 700!important;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    text-shadow: 0 0 80px rgba(112, 248, 119, 0.48),0 0 32px rgba(93, 241, 80, 0.945);
    border-radius: 10px;
    padding: 74px 0;
}

.swiper {
    position: relative;
    margin:20px;
    margin-left: 25%;
    padding: 5px;
    width: 50%; 
    min-width: 300px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
    padding: 50px;
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Star footer */
.footer {
    width: 100%;
    min-width: 300px;
    height: 320px;
    margin-top: 100px;
    background:
    linear-gradient( to top, #32ded4ff, #9900efff, transparent 300px);
    opacity: 1.4;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,50%);
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
}

#blog {
    width: 100px;
    height: 90px;
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 379.546px;
    filter: drop-shadow(rgba(22, 34, 201, 0.952) 0px 10px 15px);
}

#visit { 
    font-size: 200%!important;
}

#copy {
    text-align: center;
    word-wrap: break-word;
    margin-right: 50px;
    position: relative;
    z-index: 2;
    font-size: 120%!important;
    align-self: center;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    color:rgb(251, 248, 252);
    height: auto;
    font-weight: 600;
}

#datos {
    text-align: center;
    word-wrap: break-word;
    padding-top: 20px;
    margin-right: 50px;
    position: relative;
    z-index: 2;
    font-size: 120%!important;
    align-self: center;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    color: rgb(251, 248, 252);
    height: auto;
    font-weight: 600;
}

#contact {    
    width: 80px;
    height: 84px; 
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 379.546px;
    filter: drop-shadow(rgba(247, 162, 209, 0.74) 0px 10px 15px);
    border-radius: 10px;
}
#contact:hover { 
    transform: scale(1.2);
}

.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}
/* Finish footer */

/* Star overlay cotización */
.overlay {    
    background-image: url(./img/estrellas.gif);
    opacity: 1;
	position: fixed;
    z-index: 4;
    height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    display: flex;
	align-items: center;
	justify-content: center;
    visibility: hidden; 
    font-family: 'Inconsolata', monospace;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
    transform: rotateY(0deg) rotateX(0deg) scale(1.3);
    perspective: 379.546px;
    filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
 	border-radius: 3px;
	padding: 20px;
	text-align: center;
	width: 600px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
} 

.popup h1 {
    text-shadow: 0 0 80px rgba(9, 5, 219, 0.959),0 0 32px rgba(11, 66, 207, 0.884);
    border-radius: 10px;
}

.popup h3 {
    color: #5f00cc!important;
 	font-size: 26px;
}

.popup h4 {
    color: #000!important;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
} 

.popup form .contenedor-inputs {
	opacity: 0.5;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
    font-family: 'Inconsolata', monospace;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
    border-radius: 50px;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
    background: linear-gradient(45deg,#ff6d1b,#e0417f);
    line-height: 1.5rem;
    will-change: transform,filter;
    float: none;
    transition: all .15s ease-out;
    border-radius: 100px;
    font-weight: 600;
    letter-spacing: 0;
    transform: rotateY(0deg) rotateX(0deg) scale(1);
    perspective: 379.78px;
    filter: drop-shadow(rgba(230, 75, 117, 0.37) 0px 10px 15px);
}

.popup form .btn-submit:hover {
    background: linear-gradient(45deg,#ff1bce,#e0417f);
}  

.wrap {
    font-family: 'Inconsolata', monospace;
    color: #000;
	font-size: 16px;
    padding-bottom: 20px;
}

/* Animaciones Overlay Cotizacion*/
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Mediaquerys */
@media (max-width:768px){

    h1 {
        font-size: 1.9rem!important;
        }

    .header-text {
        margin-bottom: 0;
        }

    .navar {
    left: 85%;
    margin-right: 70%;
    }
    #logo {   
        margin-right: 82.5%;
        left: 3%;
        position:absolute;
    }
    .text-cot {
    margin-left: 0;
    }
    .transformacion, .UX, .web { 
        font-size: 70% !important;
        }

    #overlay {
        margin-top: 0;
        padding-top: 0;
        }
    
    .servicios h1 {
        margin: 50px;;
    }

    .wave-div {
        margin-bottom: 50px!important;
    }

 	.proyectos, .text-boh, .text-kuth {
		margin-left:25px!important;
        align-items: stretch;
		}

    .bohemia {
        margin-top: 80px;
        }

    .sitio {
        margin-left: 25%;
        font-size: 78%!important;
        }       
    
    .swiper {
        width: 70%; 
        margin: 0px;
        padding: 0;
        margin-left: 15%;
    }
    .bt {
        margin-left: 15%!important;
    }

    .wave-div {
        grid-template-columns: repeat(1,100%);
    }
    .popup {
        margin-right: 80px;
    }
    .btn2 {
        margin-left: 35%;
    }
}

@media (min-width:800px){
    #logo {   
        margin-right: 82.5%;
        left: 3%;
        position:absolute;
}
.text-cot {
    margin-left: 0;
}
.header-text a {
    margin-left: 5%;
}

.popup {
    margin-right: 80px;
}

}

@media (max-width:490px){
#logo {   
        margin-right: 82.5%;
        left: 3%;
        position:absolute;
}
.navar {
        left: 73%;  
}
    
.contenedor-serv, .bohemia, .kuthzen, .wave-div {
    grid-template-columns: repeat(1,100%);
}
.text-cot {
    margin-left: 0;
}
.servicios h1 {
    padding-top: 0px;
}

.contenedor-serv {
    padding-left: 10%;
}

.web-boh, .web-kuth {
    margin-left: 10%;
}

.footer {
    font-size: 60%!important;
}

.btn2 {
    margin-top: 10px;
}

.popup {
    width: 310px;
    margin-right: 80px;
}

.swiper {
    margin-left: 10%;
}

}


/*Tablet*/

@media (max-width: 768px) {
    /*Skills*//*Hobbies*/

    .skills__title, .hobbies__title{
        font-size: 22px;
        line-height: 26px;
        margin: 0;
    }
    .skills__line, .hobbies__line {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3,33.3%);
    }
    
    .skills__box, .hobbies__box {
        padding-top: 10px;
    }

    .skills__img, .hobbies__img{
        width: 32px;
        height: 37px;
    }

    .skills__name, .hobbies__name{
        font-size: 16px;
        line-height: 19px;
    }
         
    /*Formación Académica*/
    section.academic {
        padding: 30px 50px;
    }

    .academic__title{
        font-size: 22px;
        line-height: 26px;
    }

    .academic__courses__item__img {
        padding: 30px 70px;
    }

    .academic__courses__item__title h4{
        font-size: 16px;
        line-height: 19px;
    }

    .academic__courses__item__subtitle p{
        font-size: 14px;
        line-height: 16px;
        margin: 0;
    }

    .academic__courses {
        margin-bottom: 50px;
    }
    }
    


/*Mobile*/
@media (max-width: 425px) {

    /*Menu*/

    section.menu {
        text-align: center;
        font-size: 12px;
    }
    /*Skills*//*Hobbies*/

    .skills__title, .hobbies__title{
        font-size: 22px;
        line-height: 26px;
        margin: 0;
    }
    .skills__line, .hobbies__line {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,45%);
    }
    
    .skills__box, .hobbies__box {
        padding-top: 10px;
    }

    .skills__img, .hobbies__img{
        width: 32px;
        height: 37px;
    }

    .skills__name, .hobbies__name{
        font-size: 16px;
        line-height: 19px;
    }
         
    /*Formación Académica*/
    section.academic {
        padding: 15px 30px;
    }

    .academic__title{
        font-size: 22px;
        line-height: 26px;
    }

    .academic__courses{
        display: grid;
        justify-content: center;
        grid-template-columns:100%;
        margin-bottom: 50px;
    }

    .academic__courses__item__title h4{
        font-size: 16px;
        line-height: 19px;
    }

    .academic__courses__item__subtitle p{
        font-size: 14px;
        line-height: 16px;
        margin: 0;
    }
         
}